@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Rubik+Dirt&family=Rubik+Glitch&display=swap');

.artist-name {
    font-size: 100px;
    text-align: center;
    font-family: "Rubik Dirt", system-ui, sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 0.5rem;
}

.bio-page {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bio-name {
    font-size: 42px;
    text-align: center;
}

.bio-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.bio-text {
    flex: 2;
    line-height: 1.8;
    text-align: left;
}

.bio-text {
    font-size: 36px;
    margin-bottom: 1rem;
}

.bio-text .portfolio-title {
    margin-bottom: 2rem;
}

.bio-text p {
    font-size: 20px;
    margin-bottom: 1.5rem;
    color: #333;
}

.bio-portrait {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-portrait .bio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .bio-content {
        flex-direction: column;
        /* Stack portrait and text vertically */
        align-items: center;
        /* Center align content */
    }

    .bio-text {
        text-align: center;
        flex: none;
    }

    .bio-portrait .bio-image {
        width: 100%;
    }
}