@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik Dirt", system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  color: #222;
}

main {
  flex: 1;
  padding: 1.5rem;
}